body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f5e9;
}
header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #d8f3dc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#back-button {
    padding: 10px;
    border: none;
    background-color: #40916c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.checkout-container {
    width: 100%;
    margin-top: 10px;
    background-color: #e8f5e9;
    border-radius: 8px;
}

.checkout-header {
    color: #28a745;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

.checkout-header a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    margin-right: 20px;
}

.address-section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
}

.address-section h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: #333;
}

.address-section p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.cart-summary {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.cart-summary .item-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    gap: 80px; 
}

.quantity {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    margin-right: 15px;
}

.image-and-details {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.cart-summary img {
    width: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details {
    display: flex;
    flex-direction: column;
}

.details h4 {
    margin: 0;
    font-size: 16px;
}

.details span {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.payment-method {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.payment-details {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.payment-details .payment-method span {
    font-size: 16px;
    font-weight: bold;
}

.detail-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.detail-line span {
    margin: 0;
}

.payment-summary {
    font-size: 14px;
    color: #666;
}

.payment-summary p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.total-payment {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    gap: 20px;
}

.payment-summary .total-payment{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.total-info {
    display: flex;
    flex-direction: column;
}

.total-info h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 0 0 5px;
}

.total-info span {
    font-size: 16px;
    font-weight: bold;
    color: #45a049;
}

#confirm-payment {
    padding: 10px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#confirm-button:hover {
    background-color: #45a049;
}